<?xml version="1.0" encoding="utf-8"?>

<log4net>

  <appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <threshold value="INFO" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception" />
    </layout>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="DarkGray" />
    </mapping>
  </appender>

  <appender name="ScanErrorAppender" type="log4net.Appender.FileAppender">
    <file type="log4net.Util.PatternString" value="Howatworks.SubEtha.Journal.Scan.log" />
    <threshold value="WARN" />
    <appendToFile value="false" />
    <layout type="log4net.Layout.DynamicPatternLayout">
      <header value="[LOGGING STARTED %date]%newline" />
      <conversionPattern value="%message%newline" />
      <footer value="[LOGGING ENDED %date]%newline" />
    </layout>
  </appender>

  <root>
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="ScanErrorAppender" />
  </root>

</log4net>