<?xml version="1.0" encoding="utf-8"?>

<log4net>

  <appender name="DefaultAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{logfolder}/Matrix.log" />
    <threshold value="INFO" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.DynamicPatternLayout">
      <header value="[LOGGING STARTED %date]%newline" />
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception" />
      <footer value="[LOGGING ENDED %date]%newline" />
    </layout>
  </appender>

  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{logfolder}/Matrix.Error.log" />
    <threshold value="WARN" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.DynamicPatternLayout">
      <header value="[LOGGING STARTED %date]%newline" />
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception" />
      <footer value="[LOGGING ENDED %date]%newline" />
    </layout>
  </appender>

  <root>
    <appender-ref ref="DefaultAppender" />
    <appender-ref ref="ErrorAppender" />
  </root>

</log4net>