**/bin/
**/obj/
TestResults/
tools/
packages/
.vs/
*.user
src/Howatworks.Thumb.Installer/Thumb.wixobj
src/Howatworks.Thumb.Installer/Thumb.wxs
*.msi
src/Howatworks.Thumb.Installer/wix/
src/Howatworks.Matrix.Site/Artifacts/
*.wixobj
*.wxs
