<?xml version="1.0" encoding="utf-8"?>

<log4net>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception" />
    </layout>
  </appender>

  <appender name="ThumbAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{logfolder}/Thumb.Monitor.log" />
    <threshold value="INFO" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception" />
    </layout>
  </appender>

  <appender name="ThumbErrorAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{logfolder}/Thumb.Error.log" />
    <threshold value="WARN" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception" />
    </layout>
  </appender>

  <root>
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="ThumbAppender" />
    <appender-ref ref="ThumbErrorAppender" />
  </root>

</log4net>