@using Howatworks.Matrix.Core.Entities
@using Howatworks.Matrix.Site.Controllers
@using Microsoft.AspNetCore.Identity
@inject UserManager<MatrixIdentityUser> UserManager

@{
    ViewData["Title"] = "LiveTracking";
    var user = await UserManager.GetUserAsync(User);
    var commanderName = user?.CommanderName;
}

@section Scripts
    {
    <script src="~/js/TrackingViewModel.js" asp-append-version="true"></script>
    <script>var tracking = new TrackingViewModel("@(Url.Content("~"))", "@commanderName");</script>
}
    <h2>LiveTracking @commanderName</h2>

<div class="container-fluid" role="main">

    <div class="form-inline">
        <div class="form-group">
            <label>
                Version:
                <select data-bind="options: gameVersions, value: gameVersion"></select>
            </label>
        </div>
        <div class="form-group">
            <label>
                Group:
                <select data-bind="options: groups, value: group"></select>
            </label>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>CMDR</th>
                        <th>System</th>
                        <th>Location</th>
                        <th>Detail</th>
                        <th>Ship</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: cmdrs">
                    <tr data-bind="css: rowclass">
                        <td data-bind="html: gamemode"></td>
                        <td data-bind="text: cmdr"></td>
                        <td data-bind="text: systemname, attr: {title: systemcoords}"></td>
                        <td data-bind="html: body"></td>
                        <td data-bind="text: bodydetail"></td>
                        <td data-bind="text: ship"></td>
                        <td data-bind="html: shipstatus"></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div class="row">
        <div id="graph" style="width:600px; height:600px;"></div>
    </div>

</div>