/* using tips on image backgrounds from https://coder-coder.com/background-image-opacity/ */

.edbutton {
    position: relative;
}

.edbutton::before {
    content: "";
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}

/* #navigation-zone */
button[data-edbutton="IncreaseEnginesPower"]::before {
}

button[data-edbutton="IncreaseSystemsPower"]::before {
}

button[data-edbutton="ResetPowerDistribution"]::before {
}

button[data-edbutton="IncreaseWeaponsPower"]::before {
}

button[data-edbutton="GalaxyMapOpen"]::before {
    background-image: url(../img/telescope.svg);
}

button[data-edbutton="SystemMapOpen"]::before {
    background-image: url(../img/sun.svg);
}

button#meta-jump::before {
    background-image: url(../img/rocket.svg);
}

button[data-edbutton="TargetNextRouteSystem"]::before {
}

button[data-edbutton="SelectTarget"]::before {
}

button[data-edbutton="CyclePreviousTarget"]::before {
}

button[data-edbutton="CycleNextTarget"]::before {
}

/* #travel-realspace */


button[data-edbutton="UseBoostJuice"]::before {
    background-image: url(../img/flame.svg);
}

button[data-edbutton="ToggleCargoScoop"]::before {
    background-image: url(../img/database.svg);
}

button[data-edbutton="LandingGearToggle"]::before {
}

button[data-edbutton="Supercruise"]::before {
    background-image: url(../img/rocket.svg);
}


button[data-edbutton="ToggleFlightAssist"]::before {
    background-image: url(../img/paper-airplane.svg);
}

button[data-edbutton="ToggleButtonUpInput"]::before {
    background-image: url(../img/mute.svg);
}

button[data-edbutton="DeployHeatSink"]::before {
}

/* #travel-supercruise */

button[data-edbutton="SetSpeedZero"]::before {
}

button[data-edbutton="SetSpeed75"]::before {
}

button[data-edbutton="SetSpeed100"]::before {
}

button[data-edbutton="ExplorationFSSEnter"]::before {
    background-image: url(../img/rss.svg);
}

/* #mode-combat */

button[data-edbutton="SelectHighestThreat"]::before {
}

button[data-edbutton="CyclePreviousHostileTarget"]::before {
}

button[data-edbutton="CycleNextHostileTarget"]::before {
}

button[data-edbutton="FireChaffLauncher"]::before {
}


button[data-edbutton="CyclePreviousSubsystem"]::before {
}

button[data-edbutton="CycleNextSubsystem"]::before {
}

button[data-edbutton="UseShieldCell"]::before {
}

button[data-edbutton="ChargeECM"]::before {
}

/* #mode-fss */

button[data-edbutton="ExplorationFSSRadioTuningX_Decrease"]::before {
}

button[data-edbutton="ExplorationFSSRadioTuningX_Increase"]::before {
}

button[data-edbutton="ExplorationFSSDiscoveryScan"]::before {
}

button[data-edbutton="ExplorationFSSQuit"]::before {
    background-image: url(../img/rss.svg);
}

/* #mode-saa */

button[data-edbutton="ExplorationSAAChangeScannedAreaViewToggle"]::before {
}

button[data-edbutton="ExplorationSAAExitThirdPerson"]::before {
}