.button-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* #navigation-zone */
button[data-edbutton="IncreaseEnginesPower"] {
    grid-area: 1/2;
}

button[data-edbutton="IncreaseSystemsPower"] {
    grid-area: 2/1;
}

button[data-edbutton="ResetPowerDistribution"] {
    grid-area: 2/2;
}

button[data-edbutton="IncreaseWeaponsPower"] {
    grid-area: 2/3;
}

button[data-edbutton="GalaxyMapOpen"] {
    grid-area: 1/4;
}

button[data-edbutton="SystemMapOpen"] {
    grid-area: 2/4;
}

button#meta-jump {
    grid-area: 3/4;
}

button[data-edbutton="TargetNextRouteSystem"] {
    grid-area: 4/4;
}

button[data-edbutton="SelectTarget"] {
    grid-area: 4/1;
}

button[data-edbutton="CyclePreviousTarget"] {
    grid-area: 4/2;
}

button[data-edbutton="CycleNextTarget"] {
    grid-area: 4/3;
}

/* #travel-realspace */


button[data-edbutton="UseBoostJuice"] {
    grid-area: 1/1;
}

button[data-edbutton="ToggleCargoScoop"] {
    grid-area: 1/2;
}

button[data-edbutton="LandingGearToggle"] {
    grid-area: 1/3;
}

button[data-edbutton="Supercruise"] {
    grid-area: 1/4;
}


button[data-edbutton="ToggleFlightAssist"] {
    grid-area: 2/1;
}

button[data-edbutton="ToggleButtonUpInput"] {
    grid-area: 2/2;
}

button[data-edbutton="DeployHeatSink"] {
    grid-area: 2/3;
}

button[data-edbutton="ShipSpotLightToggle"] {
    grid-area: 2/4;
}

/* #travel-supercruise */

button[data-edbutton="SetSpeedZero"] {
    grid-area: 1/1;
}

button[data-edbutton="SetSpeed75"] {
    grid-area: 1/2;
}

button[data-edbutton="SetSpeed100"] {
    grid-area: 1/3;
}

/* Supercruise drop in same location as #travel-realspace */

button[data-edbutton="ExplorationFSSEnter"] {
    grid-area: 2/4;
}

/* #travel-srv */

button[data-edbutton="VerticalThrustersButton"] {
    grid-area: 1/1;
}

button[data-edbutton="ToggleCargoScoop_Buggy"] {
    grid-area: 1/2;
}

button[data-edbutton="AutoBreakBuggyButton"] {
    grid-area: 1/3;
}

button[data-edbutton="RecallDismissShip"] {
    grid-area: 1/4;
}

button[data-edbutton="ToggleDriveAssist"] {
    grid-area: 2/1;
}

button[data-edbutton="HeadlightsBuggyButton"] {
    grid-area: 2/4;
}

/* #mode-shipcombat */

button[data-edbutton="SelectHighestThreat"] {
    grid-area: 1/1;
}

button[data-edbutton="CyclePreviousHostileTarget"] {
    grid-area: 1/2;
}

button[data-edbutton="CycleNextHostileTarget"] {
    grid-area: 1/3;
}

button[data-edbutton="FireChaffLauncher"] {
    grid-area: 1/4;
}


button[data-edbutton="CyclePreviousSubsystem"] {
    grid-area: 2/1;
}

button[data-edbutton="CycleNextSubsystem"] {
    grid-area: 2/2;
}

button[data-edbutton="UseShieldCell"] {
    grid-area: 2/3;
}

button[data-edbutton="ChargeECM"] {
    grid-area: 2/4;
}

/* #mode-fss */

button[data-edbutton="ExplorationFSSRadioTuningX_Decrease"] {
    grid-area: 1/1;
}

button[data-edbutton="ExplorationFSSRadioTuningX_Increase"] {
    grid-area: 1/2;
}

button[data-edbutton="ExplorationFSSDiscoveryScan"] {
    grid-area: 1/3;
}

button[data-edbutton="ExplorationFSSQuit"] {
    grid-area: 1/4;
}

/* #mode-saa */

button[data-edbutton="ExplorationSAAChangeScannedAreaViewToggle"] {
    grid-area: 1/1;
}

button[data-edbutton="ExplorationSAAExitThirdPerson"] {
    grid-area: 1/2;
}
