@using Howatworks.Matrix.Core.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<MatrixIdentityUser> UserManager

@{
    ViewData["Title"] = "Location";
    var user = await UserManager.GetUserAsync(User);
    var commanderName = user?.CommanderName;
}

@section Scripts
    {
    <script src="~/js/LocationViewModel.js" asp-append-version="true"></script>
    <script>var tracking = new LocationViewModel("@(Url.Content("~/Api/"))", "@commanderName");</script>
}
    <h2>Location @commanderName</h2>

    <div class="container-fluid" role="main">

        <div class="form-inline">
            <div class="form-group">
                <label>
                    Version:
                    <select data-bind="options: gameVersions, value: gameVersion"></select>
                </label>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Star System</h3>
                    </div>
                    <div class="panel-body">
                        <p><span data-bind="text: starsystemname"></span></p>
                        <p>[<span data-bind="text: starsystemcoords"></span>]</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary" data-bind="visible: stationvisible">
                    <div class="panel-heading">
                        <h3 class="panel-title">Where</h3>
                    </div>
                    <div class="panel-body">
                        <p><span data-bind="text: stationname"></span> (<span data-bind="text: stationtype"></span>)</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div id="graph" style="width:600px; height:400px;"></div>
            <div id="graphcontent" style="width:600px; height:400px; overflow:scroll;"></div>
        </div>

    </div>