<?xml version="1.0" encoding="utf-8"?>

<log4net>

  <appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <threshold value="INFO" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception" />
    </layout>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="DarkGray" />
    </mapping>
  </appender>

  <appender name="DefaultAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{logfolder}/Matrix.Site.log" />
    <threshold value="INFO" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.DynamicPatternLayout">
      <header value="[LOGGING STARTED %date]%newline" />
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception" />
      <footer value="[LOGGING ENDED %date]%newline" />
    </layout>
  </appender>

  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{logfolder}/Matrix.Site.Error.log" />
    <threshold value="WARN" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.DynamicPatternLayout">
      <header value="[LOGGING STARTED %date]%newline" />
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline%exception" />
      <footer value="[LOGGING ENDED %date]%newline" />
    </layout>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="DefaultAppender" />
    <appender-ref ref="ErrorAppender" />
  </root>

</log4net>